API_KEY=abcd1234
API_SECRET=fedcba9876543210
APP_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
LEX_REFERENCE_CONNECTION=xxxxxx.ngrok.io
AWS_KEY=xxxxx
AWS_SECRET=xxxxx
AWS_REGION=us-east-1
BOT_NAME=mybotname
BOT_ALIAS=mybotpublishalias

